body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  padding: 5px;
  margin: 0 auto;
}
.flex-item {
  width: 24px;
  margin: 3px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

@media (max-width: 575.98px) {
  body {
    font-size: 0.8em;
  }
  .flex-container {
    width: 300px;
  }
  .flex-item {
    width: 21px;
    margin: 2px;
    line-height: 30px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 0.9em;
  }
  .flex-container {
    width: 360px;
  }
  .flex-item {
    width: 24px;
    margin: 3px;
    line-height: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    font-size: 1em;
  }
  .flex-container {
    width: 480px;
  }
  .flex-item {
    width: 30px;
    margin: 5px;
    line-height: 44px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 1.4em;
  }
  .flex-container {
    width: 600px;
  }
  .flex-item {
    width: 40px;
    margin: 5px;
    line-height: 50px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 2em;
  }

  .flex-container {
    width: 960px;
  }
  .flex-item {
    width: 60px;
    margin: 10px;
    line-height: 60px;
  }
}
